@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as vars;

.button {
  @include mixins.button-base;

  &.loading {
    position: relative;
    pointer-events: none;
    color: transparent !important;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-top: 2px solid white;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }
  }
}

.primary {
  background: #3b82f6;
  color: white;
  border: none;
  font-weight: vars.$font-weight-semibold;
  padding: vars.$spacing-md vars.$spacing-xl;
  border-radius: vars.$radius-lg;
  font-size: vars.$font-size-base;
  min-height: 48px;

  &:hover:not(:disabled) {
    background: #2563eb;
  }

  &:active {
    background: #1d4ed8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.secondary {
  @include mixins.button-variant(vars.$secondary-color, vars.$text-white);
}

.outline {
  @include mixins.button-base;
  background-color: transparent;
  color: vars.$primary-color;
  border: 1px solid vars.$primary-color;

  &:hover:not(:disabled) {
    background-color: vars.$primary-color;
    color: vars.$text-white;
  }
}

.ghost {
  @include mixins.button-base;
  background-color: transparent;
  color: vars.$primary-color;

  &:hover:not(:disabled) {
    background-color: rgba(vars.$primary-color, 0.1);
  }
}

.sm {
  @include mixins.button-size(
    vars.$spacing-xs,
    vars.$spacing-sm,
    vars.$font-size-sm
  );
}

.md {
  @include mixins.button-size(
    vars.$spacing-sm,
    vars.$spacing-md,
    vars.$font-size-base
  );
}

.lg {
  @include mixins.button-size(
    vars.$spacing-sm,
    vars.$spacing-lg,
    vars.$font-size-lg
  );
}

.fullWidth {
  width: 100%;
}

.iconOnly {
  padding: vars.$spacing-sm;

  &.sm {
    padding: vars.$spacing-xs;
  }

  &.lg {
    padding: vars.$spacing-md;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
